body {
	text-align: center;	
    background-image: url("hosi.jpg");
}
h1 {
	color:  #333333;
    font-size: 80px
}
#question {
	width: 100%;
	margin: 50px 0;
	font-size: 150px;
  font-weight: bold;
}
#answerForm {
	font-size: 40px;

}
#answer {
    font-size: 120px
    height: 30px
}

input[type=text]{
width:200px;
 height: 30px
}
#mybutton{

}


